.button-container{
	top:50%;
	margin-top:20%;
}
.btn-main{
	vertical-align: middle;
	width: 400px;
	box-shadow: 2px 3px 1px 1px black;
}
#logo-image {
    display: block;
    margin: auto;
    width: 30vh;
    margin-top: 60vh;
}