/* Master Styles */
body{
	margin: 0;
}
#header-logo{
    position: absolute;
    height: 9vh;
    margin: auto;
    opacity: 1;
    z-index: 500;
    left: 43%;

}
.header{
	/*padding-left: 10px;*/
	background-color: white;
    z-index: 50;
    opacity: .65;
    height: 12vh;
    width: 100%;
}

.main{
	background-color: grey;
}
.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: auto;
}
body{
    background: url(/img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.alert ul{
    padding-left:0px;
    list-style:none;
}
form .ng-invalid.ng-touched{
    background: pink;
    border: 1px solid red;
}
#logout{
    float: right;
    width: 80px;
}
#left-side-menu-btn {
    display: inline-block;
    position: absolute;
    top: 100px;
    transition: 0.4s;
    font-size: 35px;
    z-index: 501;
    left: 0;
}
.container {
    position: relative;
    top: -150px;
    opacity: 1;
}
.change {
    -webkit-transform: translate(250px) rotate(90deg);
    transform: translate(250px) rotate(-90deg);
}
#offscreen-left {
    position: relative;
    width: 250px;
    left: -270px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    z-index: 500;
}
.transition {
    -webkit-transition: left 0.3s ease-out; /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: left 0.3s ease-out; /* Firefox 4-15 */
    -o-transition: left 0.3s ease-out; /* Opera 10.50–12.00 */
    transition: left 0.3s ease-out; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.open {
    left: 0px !important;
}
#searchbtn {
    padding: 9px 12px !important;
}
.loader-container {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 100%;
    top: -15px;
    opacity: .4;
    z-index: 480;
}
.loader {
    border: 16px solid #f3f3f3;
    margin: 15% auto;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}