<h1>feed :D</h1>
<div class="row">
	<div class="media thumbnail">
		<div class="pull-left">
			<a href="#">
				<img class="media-object" src="http://placehold.it/200x200" alt="<Title>">
			</a>
		</div>
		<h1 class="media-heading col-xs-6">Title</h1>
		<p class="media-description col-xs-6">Description</p>
		<div class="pull-right voteContainer">
			<span href="#" class="glyphicon glyphicon-menu-up"></span><br/>
			<p class="rank">50</p><br/>
			<span href="#" class="glyphicon glyphicon-menu-down"></span>
		</div>
	</div>
</div>