<div class="row alert alert-danger text-center" *ngIf="!deals">
	<h1>There doesn't appear to be any deals in your area :(</h1>	
</div>
<div class="row" *ngFor="let deal of deals; let i = index">
	<div class="media thumbnail rel">
		<div class="pull-left">
			<a [routerLink]="['../deal/',deal.deal_id]">
				<img class="media-object deal-icon" [src]="deal.imagePath" onError="this.src='/img/default-thumbnail.jpg';" [alt]="deal.title">
			</a>
		</div>
		<h1 class="media-heading col-xs-6">{{ deal.title }}</h1>
		<p class="media-description col-xs-6">{{ deal.description }}</p>
        <p class="media-description col-xs-6">Expires: {{ deal.expiration_date }}</p>
		<div class="pull-right voteContainer">
			<span [style.color]="isUpvoted(i)" (click)="upvote(i, deal.deal_id)" class="glyphicon glyphicon-menu-up"></span><br/>
			<p class="rank">{{ deal.vote_count || 0 }}</p><br/>
			<span [style.color]="isDownvoted(i)" (click)="downvote(i, deal.deal_id)" class="glyphicon glyphicon-menu-down"></span>
		</div>
	</div>
</div>
<div class="btn btn-primary addbtn" routerLink="/new"><p>+</p></div>